
    .titulo{
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    .form-control{
        align-content: right;
        margin-right: 40%;
    }
    .boton-borrar{
        size: 1rem 3rem;
        align-items: center;
    }

    .contanier{
        max-width: 100%;
        min-height: 101vh;
    }

    .form-producto{
        padding: 1rem 2rem;
        margin-left: 40%;
        margin-right: 40%;
        text-transform: capitalize;
        border: 3px solid #090;
        padding: 1rem 2rem;
    }

    .list-producto {
        padding: 3rem 2rem;
        margin-left: 25%;
        margin-right: 25%;
        text-transform: capitalize;
        border: 3px solid #090;
        padding: 1rem 2rem;
    }

    .items-list{
        list-style: none;
    }
    


 


    